
    h3 {text-align: center;
        font-weight: 700;
        display: block;
        text-transform: uppercase;
        color: #6f4e37;
        margin-bottom: 10px;
        margin-top: 10px;
       
    }


ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    
    
}

ul li a{
    height: 20rem;
    width: 20rem;
    border: 1px solid rgb(32, 3, 3);
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #150606;
 
    

}
li a:hover{
    opacity: 0.7;
    cursor: pointer;
}
div.content{
    font-size: 25px;
    
}
div.store-detail-footer{
    font-size: 15px;
    font-style: normal;
}
div.services{
    font-size: small;
}
.favorite.not{
    color:red;
}
