
<nav class="navbar navbar-expand-lg bg-body-success navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand bg-dark" routerLink="/home">Easycut</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
    >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <li>
                  <a class="nav-link active bg-dark" aria-current="page" routerLink="/list">Stores</a>
                </li>
                <li>
                  <a class="nav-link active bg-dark" aria-current="page" href="#">About us</a>
                </li>
                <li>
                  <a class="nav-link active bg-dark" aria-current="page" href="#">Services</a>
                </li>
                <li>
                    <a class="nav-link active bg-dark" aria-current="page" href="#">Add Your Shop</a>
                  </li>
              </ul>
     
    </div>
    <div class="row">
      <div class="col-lg-5" >
        <a type="button" class="btn btn-outline-primary" routerLink="/login">Login</a>
      </div>
      <div class="col-lg-7">
        <button type="button" class="btn btn-outline-secondary"routerLink="/register">Sign Up</button>
      </div>
    </div>
  </div>
</nav>
