div.login-cont{
    height: 700px !important;
    width: 100% !important;
     background-image: url(../../assets/pic1.png);
     background-repeat:no-repeat;
     /* background-position:center; */
     background-size:cover;
     padding:10px;
    }
  
  .form-heading { color:#fff; font-size:28px;}
  .panel h2{ color:#6F4E37; font-size:18px; margin:0 0 8px 0;}
  .panel p { color:#FFB88C; font-size:40px; margin-bottom:30px; line-height:24px;}
  .login-form .form-control { 
      
      
      border-radius: 2px;
      font-size: 20px;
      height: 60px;
      line-height: 50px;
  }
  .main-div {
     
      border-radius: 2px;
      margin: 10px auto 30px;
      max-width: 38%;
      padding: 70px 70px 70px 71px;
  }
  
  .login-form .form-group {
      margin-bottom:10px;
      
  }
  .login-form .form-group span{
    position: absolute;
    width: 50px;
    line-height: 50px;
    color: #595959;
  }
 
  .login-form{ text-align:center;}
  .forgot a {
      color: #007bff;
      font-size: 20px;
      text-decoration: underline;
  }
  .login-form  .btn.btn-primary {
      background: #6F4E37 none repeat scroll 0 0;
      border-color: #6F4E37;
      color: #f7e6e6;
      font-size: 24px;
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding: 0;
  }
  .forgot {
      text-align: left; margin-bottom:30px;
  }
  .botto-text {
      color: #ffffff;
      font-size: 30px;
      margin: auto;
      
  }
  .login-form .btn.btn-primary.reset {
      background: #6F4E37 none repeat scroll 0 0;
  }
  .back { text-align: left; margin-top:10px;}
  .back a {color: #6F4E37; font-size: 13px;text-decoration: none;}
  