<!--<form class="border p-3 rounded-3" [formGroup]="loginForm" (ngSubmit)="loginSubmited()">
    <div class="container-fluid login-cont">
        <div class="login-page">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <p>Login</p>
            </div>
            <div class="row">
                <div class="col mb-3">
                    
                    <input type="email"  class="form-control" formControlName=" email" id="inputEmail"  name="email" placeholder="Email Address">
                    <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">
                        Email is Required
                    </div>
                    <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)" >
                        Email is Invalid.
                        </div> 
                </div>
               
            </div>
                <div class="row">
                    <div class="col mb-3">
                    <input type="password" class="form-control" formControlName="pwd" id="inputPassword" name="password" placeholder="Password">
                    <div class="form-text text-danger" *ngIf=" PWD.errors?.['required'] && ( PWD.touched ||  PWD.dirty)" >
                        Password is Required.
                       </div>
                      <div class="form-text text-danger" *ngIf=" PWD.errors?.['minlength'] ||  PWD.errors?.['maxlength'] && ( PWD.touched ||  PWD.dirty)" >
                        Password should be atleast 6 and at the max 15 characters long.
                        </div>
                </div>
            </div>
                  <div class="forgot">
                    <a href="reset.html">Forgot password?</a>
                </div>
                
                <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>

         
            <div  class="row">

            </div>
           
            <p>Don't have an account? 
            
                <a href="#" routerLink="register" routerLinkActive="actice-link"> Register here</a></p>
        </div>
    </div></div>
    </div>
</form>-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="login-block">
    <div class="container">
	<div class="row">
		<div class="col-md-4 login-sec">
		    <h2 class="text-center">Login Now</h2>
		    <form class="login-form" #Login = "ngForm" (ngSubmit)="Login">
  <div class="form-group">
    <label for="exampleInputEmail1" class="text-uppercase">Email</label>
    <input type="email" class="form-control" placeholder="" required>
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase">Password</label>
    <input type="password" class="form-control" placeholder="" required>
  </div>
  
  
    <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      <small>Remember Me</small>
    </label>
    <button type="submit" class="btn btn-login float-right">Login</button>
  </div>
  <div class="nav-item">
    <a class="nav-link" routerLink="/register" routerLinkActive="active"> Register here </a>
  </div>
</form >
		</div>
		<div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            
    
	
 
   
 
    
    
  	
   

              

