<div class="wrapper">
  
    <h1>Contact</h1>
    <p>Come in and let us pamper you. Schedule an Appointment.</p>
   
    <form class="contact-box" action="/action.php" target="_self" method="post">
      <ul>
        <li>
          <label for="name">Please tell me your name:</label>
          <input type="text" id="name" class="input-text" placeholder="Enter your Name" required>
        </li>
        <li>
          <label for="email">Now I need your email address, so I can get back to you:</label>
          <input type="email" id="email" class="input-text" placeholder="Your Email" required>
        </li>
        <li>
          <label label="message">Your message for me:</label><br>
          <textarea rows="6" id="message" placeholder="Your Message" required></textarea>
        </li>
        <li>
          <button>Send Message</button>
        </li>
      </ul>
      <div class="icons">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-github"></i>
    </div>
    <div class="name">
    <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> 91 98766543210</p>
    <p><i class="fa-solid fa-envelope"></i><a href="mailto:support@company.com">support@company.com</a></p>
    </div>
</form>
    
</div>

    

    
