<section class="we-offer-area text-center bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading text-center">
                    <h2> <span>easycut</span></h2>
                    <h4>#barBarLineQ</h4>
                </div>
            </div>
        </div>
            <div class="row our-offer-items less-carousel">
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="fa-solid fa-calendar-check"></i>
                        <h4>Appointment</h4>
                        <p>
                            Manage and book your appointments easily! With our salon management software,
                            take control over business from any device you want. 
                            
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="fa-solid fa-wrench"></i>                        <h4>Service</h4>
                        <p>
                        Salon Management makes management easy!
                        manage your salon and book your appointments by using Easycut. 
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="fa-duotone fa-handshake-angle"></i>
                        <h4>Easy Access</h4>
                        <p>
                        Our Easycut software is easy to use and designed for easy access.
                        Have your business available to potential clients 24/7.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="fa-solid fa-globe"></i>
                        <h4>Website</h4>
                        <p>
                            We provide premium users their own customizable company website.
                            Host your own website, add information about your company, products, services, and prices.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="fa-solid fa-store"></i>
                        <h4>Create your own E-Store
                        </h4>
                        <p>
                
                        The ideal way  to  sell services directly to customers is through Salon management software. Customize and manage your shop with us
                             Create your Account!  
                                                     
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="fa-regular fa-comment-dots"></i>
                        <h4>Feedback</h4>
                        <p>
                            Boost client engagement by sending automated emails to clients after their appointments.
                            Request for service reviews and use these feedbacks on your.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
    </div>
</section>