<!--<div>
    <input type="file" id="myFile" name="filename">
    <input type="submit">
</div>-->
<section class="h-100 bg-secondary">
    <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-9">
          
                  <h1 class="text-white mb-4">Register your shop with us</h1>
          
                  <div class="card" style="border-radius: 15px;">
                    <div class="card-body">
          
                      <div class="row align-items-center pt-4 pb-3">
                        <div class="col-md-3 ps-5">
          
                          <h6 class="mb-0">Name</h6>
          
                        </div>
                        <div class="col-md-9 pe-5">
          
                          <input type="text" class="form-control form-control-lg" placeholder="your name"/>
          
                        </div>
                      </div>
                      <div class="row align-items-center pt-4 pb-3">
                        <div class="col-md-3 ps-5">
          
                          <h6 class="mb-0"> Shop Name</h6>
          
                        </div>
                        <div class="col-md-9 pe-5">
          
                          <input type="text" class="form-control form-control-lg" placeholder="shop name"/>
          
                        </div>
                      </div>
          
                      <hr class="mx-n3">
          
                      <div class="row align-items-center py-3">
                        <div class="col-md-3 ps-5">
          
                          <h6 class="mb-0">Email address</h6>
          
                        </div>
                        <div class="col-md-9 pe-5">
          
                          <input type="email" class="form-control form-control-lg" placeholder="example@example.com" />
          
                        </div>
                      </div>
                      <div class="row align-items-center py-3">
                        <div class="col-md-3 ps-5">
          
                          <h6 class="mb-0">Phone Number</h6>
          
                        </div>
                        <div class="col-md-9 pe-5">
          
                          <input type="number" class="form-control form-control-lg" placeholder="phone number" />
          
                        </div>
                      </div>
          
                      <hr class="mx-n3">
          
                      <div class="row align-items-center py-3">
                        <div class="col-md-3 ps-5">
          
                          <h6 class="mb-0">Shop Address</h6>
          
                        </div>
                        <div class="col-md-9 pe-5">
          
                          <textarea class="form-control" rows="3" placeholder="Shop Address"></textarea>
          
                        </div>
                      </div>
          
                      <hr class="mx-n3">
          
                      <div class="row align-items-center py-3">
                        <div class="col-md-3 ps-5">
          
                          <h6 class="mb-0">Upload image of your shop</h6>
          
                        </div>
                        <div class="col-md-9 pe-5">
          
                          <input class="form-control form-control-lg" id="formFileLg" type="file" />
                          <div class="small text-muted mt-2">Upload your image or any other relevant file. Max file
                            size 50 MB</div>
          
                        </div>
                      </div>
          
                      <hr class="mx-n3">
          
                      <div class="px-5 py-4">
                        
                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                        
                      </div>
          
                    </div>
                  </div>
          
                </div>
              </div>
            </div>
  </section>