<h1>Appointment Scheduler</h1>
<h3 class="appoint">Select a date and time for your appointment:</h3>

<form class="appointment">
    
    <label for="date">Date:</label>
    <input type="date" id="date" name="date">
    <label for="time">Time:</label>
    <input type="time" id="time" name="time">
    <!-- <select name="day" id="day">
        <option value="Sunday">Sunday</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
    </select> -->
    <button type="submit">Request For Appointment</button>
</form> 




