<div class="row">
<div class="container">
    <div class="clear-fix">
        <h3 style="float: left">All Services</h3>
        <a href="#"routerLink="/addmenu" class="btn btn-primary" style="float: right">Add Service</a>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <th>Service Name</th>
                    <th>Service price</th>
                    <th>Actions</th>
                </thead>
            
<tbody>
    <tr>
        <td>Mango</td>
        <td>200</td>
        <td>
            <a class="btn btn-success" href="#">Edit</a>
            <a class="btn btn-danger" href="#">Delete</a>
        </td>
    </tr>
</tbody>
</table>
 </div>
