@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.register-block{
    background: #b7710fce;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFB88C, #b7710fce);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFB88C, #b7710fce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width:full;
padding : 50px 0;
}
/*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}*/

.container{ 
 height:100%;
 display:flex;
 align-items:center;
 justify-content:center;
 
}
.content{
  background-color:white;
  width:500px;
  height:750px;
  border-radius: 1rem;
}

.form-title{
  padding:10px 40px 0px;
}
form{
  padding:0px 40px;
}
input[type=text], [type=email]{
  border: none;
  border-bottom: 1px solid black;
  outline:none;
  width:100%;
  margin: 8px 0;
  padding:10px 0;
}
input[type=number]{
  border: none;
  border-bottom: 1px solid black;
  outline:none;
  margin: 8px 0;
  padding:5px 0;
}
input :hover {
  background-color: red;
}

button{
  color:#ffffff;
  background-color: #6F4E37;
  height:40px;
  width:25%;
  margin-top:15px;
  cursor: pointer;
  border:none;
  border-radius:2%;
  outline:none;
  text-align:center;
  font-size:16px;
  text-decoration:none;
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
}
button:hover{
  background-color:#333333;
}

